In [23]:
import uuid

str(uuid.uuid4())

'257d1da2-15a7-4590-ab6e-aa176370991d'

In [26]:
import pandas as pd
import os

UserDF = pd.ExcelFile("../barangaroo//static//admin//file//Users.xlsx").parse(sheet_name="Users")
UserDF

                                     ID      Username
0  7e596c11-9241-4a74-8457-857a6cef3d72  Burhan Azeem
1  5107df75-104d-40d1-8119-82436f33acc3           MBT
2  c19a83cb-5e6f-4420-8090-e9e02cf1eeeb           MUT
3  257d1da2-15a7-4590-ab6e-aa176370991d         Fahad